@model WindowsCalculator.Models.CalculatorModel
<div>
    @Html.TextBoxFor(model => model.CalculationHistory, new {  @readonly = "readonly", @style = "text-align:right; border: 0;" })
    @Html.TextBoxFor(model => model.OnScreenDisplay, new { @readonly = "readonly", @style = "text-align:right; border: 0;" })
</div>