@{
    ViewBag.Title = "Calculator";
}
<div class="jumbotron">
    <div id="calculator-container" style="width:250px">
        @{ Html.RenderPartial("~/Views/Home/AnswerView.cshtml");}
        @{ Html.RenderPartial("~/Views/Home/ButtonsView.cshtml");}
    </div>

</div>